body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-size: 4;
  background-color: #440001;
}
.container {
  display: flex;
  align-items: stretch; 
  justify-content: space-between;
}
main {

  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  padding: 20px;
  margin-right: 20px;
  display: inline-block;
  overflow-y: auto;
  height: 900px;
  background-image: url('images/cover_building.jpg');
  background-size: cover;
  width: 700px;
}
aside {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  width: 200px;
  height: 900px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  display: inline-block;
  flex-grow: 1;
  background-image: url(images/places_aside.jpg);
}


  article {
    margin-bottom: 20px;
  }

      header, nav, main, section, article, aside, footer {
          padding: 20px;
          margin: 10px;
      }
      header {
        color: black;
        padding: 10px;
       justify-content: center;
        display: flex;
      }
      nav
        {
      
      border-bottom: 2px solid black;
      color: white;
      padding: 10px;
      text-align: center;
    }
    nav a
    {
      margin-left: 20px;
      color: white;
      text-decoration: none;
    }
    footer
    {
      color: white;
      text-align: center;
      padding: 10px;
    }

    h1
    {
      background-color: #440001;
      color: white;
      
    }
    h3
    {
      background-color: #440001;
      color: white;
      
    }
.basak
{
  display: block;
  justify-content: center;
  align-items: center;
}
div.basak h1
{
  text-align: center;
}
div.basak h3
{
  text-align: center;
}